<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mooncakestudio.corridor.snapevnt">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<meta-data android:name="com.snapchat.kit.sdk.clientId" android:value="bd520c48-fa70-47e7-993f-0d129cdbc069" />-->
        <!--<meta-data android:name="com.snapchat.kit.sdk.redirectUrl" android:value="snapevnt://auth" />-->
        <!--<meta-data android:name="com.snapchat.kit.sdk.scopes" android:resource="@array/SCSDKScopes" /> &lt;!&ndash; This should be a string array of scopes !&ndash;&gt;-->
        <!--<activity-->
            <!--android:name="com.snapchat.kit.sdk.SnapKitActivity"-->
            <!--android:launchMode="singleTask"-->
            <!--&gt;-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->
                <!--&lt;!&ndash;-->
                    <!--Enter the parts of your redirect url below-->
                    <!--e.g., if your redirect url is myapp://snap-kit/oauth2-->
                        <!--android:scheme="myapp"-->
                        <!--android:host="abc"-->
                        <!--android:path="/xy/z"-->
                <!--!&ndash;&gt;-->
                <!--<data-->
                    <!--android:scheme="snapevnt"-->
                    <!--android:host="auth"-->
                    <!--android:path="/"-->
                    <!--/>-->
            <!--</intent-filter>-->

        <!--</activity>-->


        <activity android:name=".MainActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:screenOrientation="portrait"
                    android:theme="@style/AppTheme" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainGroups"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".ChatActivity"></activity>
    </application>

</manifest>